#container{
    background-color: #DDD;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
#leftsidebar{
    
    display: flex;
    justify-content:space-between;
}
#leftside{
    background-color:cadetblue;
    margin-right: 20px;
}
#rightside{
    margin-left: 20px;
    background-color: yellowgreen;
}
#footer{
    background-color: #022;
    color: #FFF;
    padding: 10px 0px;
    text-align: center;
}